@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000;
    overflow-x: hidden;
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0f380f;
}

::-webkit-scrollbar-thumb {
    background: #2f5f2f;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4f7f4f;
}

@keyframes bounce-short {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.animate-bounce-short {
    animation: bounce-short 0.3s ease-in-out;
}

@keyframes ping-once {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.animate-ping-once {
    animation: ping-once 0.5s cubic-bezier(0, 0, 0.2, 1) forwards;
}